.clients-admin_main-title {
    font-size: 25px !important;
    font-weight: 700 !important;
}

.clients_admin_form input[type="text"]{
    width: 100%;
}

.clients-cart-1_logo-img-btn,
.clients_cart_2_logo-btn,
.clients_cart_3_logo-btn,
.clients_cart_4_logo-btn,
.clients_cart_5_logo-btn,
.clients_cart_6_logo-btn,
.clients_cart_7_logo-btn,
.clients_cart_8_logo-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    margin-top: 15px;
}